{% extends "base.html" %}
{% from "macros.html" import render_table %}
{% block title %}Q0{% endblock %}

{% block content %}
    <h4>Q0</h4>
    <p>Show facilities</p>
    <div>
        <table>
            <tr>
                {% for key in keys %}
                <th>{{key}}</th>
                {% endfor %}
            </tr>
            {% for item in data %}
            <tr>
                {% for key in keys %}
                <td>{{item[key]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}