{% extends "base.html" %}
{% from "macros.html" import render_table %}
{% block title %}Q3{% endblock %}

{% block content %}
    <h4>Q3</h4>
    <p>Expected result: For reference date 2026-04-01</p>
    <div>
        <table>
            <tr>
                <th>Facility</th>
                <th>Product</th>
                <th>Supplier</th>
                <th>Remain Quantity</th>
                <th>Overdue Quantity</th>
                <th>Need Import</th>
            </tr>
            <tr>
                <td>HN</td>
                <td>VNM</td>
                <td>South</td>
                <td>50</td>
                <td>0</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>HN</td>
                <td>TH</td>
                <td>South</td>
                <td>150</td>
                <td>0</td>
                <td>No</td>
            </tr>
            <tr>
                <td>HCM</td>
                <td>VNM</td>
                <td>South</td>
                <td>150</td>
                <td>0</td>
                <td>No</td>
            </tr>
            <tr>
                <td>HCM</td>
                <td>TH</td>
                <td>South</td>
                <td>50</td>
                <td>0</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>DN</td>
                <td>VNM</td>
                <td>South</td>
                <td>-200</td>
                <td>250</td>
                <td>Yes</td>
            </tr>
        </table>
    </div>
    <hr />
    
    <p>Show result</p>
{% endblock %}